In [11]:
# 1. Write a code to create a string with your name and print it.
my_name = "Deepak Sharma"
print("My Name:", my_name)

My Name: Deepak Sharma

In [12]:
# 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print("Length of the string:", len(string))

Length of the string: 11

In [13]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced_string = string[:3]
print("First 3 characters:", sliced_string)

First 3 characters: Pyt

In [14]:
# 4. Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()
print("Uppercase String:", uppercase_string)

Uppercase String: HELLO

In [15]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
modified_string = string.replace("apple", "orange")
print("Modified String:", modified_string)

Modified String: I like orange

In [16]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print("List with numbers 1 to 5:", my_list)

List with numbers 1 to 5: [1, 2, 3, 4, 5]

In [17]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print("Updated List:", my_list)

Updated List: [1, 2, 3, 4, 10]

In [18]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print("Updated List after removing 3:", my_list)

Updated List after removing 3: [1, 2, 4, 5]

In [19]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c'].
my_list = ['a', 'b', 'c']
second_element = my_list[1]
print("Second Element:", second_element)

Second Element: b

In [20]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print("Reversed List:", reversed_list)

Reversed List: [50, 40, 30, 20, 10]

In [21]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [22]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print("First Element:", first_element)

First Element: apple

In [23]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print("Count of 2:", count_of_2)

Count of 2: 3

In [24]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

In [25]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tuple = ('apple', 'orange', 'banana')
is_banana_present = "banana" in my_tuple
print("Is 'banana' in the tuple?", is_banana_present)

Is 'banana' in the tuple? True

In [26]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

In [27]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 6}

In [28]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [29]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print("First Element:", first_element)

First Element: apple

In [30]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print("Count of 2:", count_of_2)

Count of 2: 3

In [31]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

In [33]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tuple = ('apple', 'orange', 'banana')
is_banana_present = "banana" in my_tuple
print("Is 'banana' in the tuple?", is_banana_present)

Is 'banana' in the tuple? True

In [34]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

In [35]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 6}